
.post{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding-bottom: 5rem;
    .tag1{
        flex: 20px;
    }
    .tag2{
        background-color: #ffffff;
        flex: 300px;
        border: 1px solid  #d8d8d8;
        border-radius: 5px;
        .header{
            display: flex;
            overflow: hidden;
            align-items: center;
            padding: 10px 20px;
            .avatar{
                overflow: hidden;
            }
            p{
                margin-left: 20px;
                font-size: 15px;
                font-weight: 500;
            }
            h3{
                margin-left: 28rem;
                margin-top: 4px;
            }
        }
        .post-image{
            img{
                width: 100%;
            }
        }
        .image-footer{
            margin-top: 5px;
            margin-left: 15px;
            .bookmark{
                margin-top: -2.5rem;
                margin-left: 33rem;
                @media only screen and (max-width: 600px) {
                    margin-left: 20rem;
                    margin-top: -2.5rem;
                }
            }
            
        }
        .about{
            margin-left: 20px;
            margin-top: 15px;
            font-size: 14px;
            font-weight: 400;
            p{
                margin-top: -15px;
            }
            span{
                color: #b1b1b1;
            }
            h6{
                margin-top: 5px;
                font-weight: 300;
                color: #b1b1b1;
            }
        }
        .comment{
            .or {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 20px;
                margin-top: -20px;
                .line {
                  width: 110%;
                  height: 1px;
                  background: #efefef;
                }
            }
            .add-comment{
                margin-top: -10px;
                margin-left: 20px;
                p{
                    color: #b1b1b1;
                    font-size: 14px;
                }
                h4{
                    margin-top: -20px;
                    margin-left: 87%;
                    color:  #3897f0;
                    @media only screen and (max-width: 600px) {
                        margin-left: 84%;
                    }
                }
            }
        }
        @media only screen and (max-width: 600px) {
            width: 400px;
        }
    }
    .tag3{
        margin-top: -15%;
        flex: 100px;
    }
}

