.ava{
  padding: 5rem;
  padding-left: 18rem;
  .avatar{
    display: flex;
    width: 55%;
    background-color: #ffffff;
    border: 1px solid  #d8d8d8;
    border-radius: 5px;
    overflow: hidden;
    > * {
        margin: 0.8rem ;
      }
}
}
@media only screen and (max-width: 500px) {
  .ava{
    padding: 6rem 0rem;
    
    padding-bottom: -3rem;
    .avatar{
      width: 630px;
    }
  }
}