.text-field {
  margin-bottom: 5px;
  .MuiInputBase-input {
    &::placeholder {
      font-size: 14px;
      font-weight: 200;
      letter-spacing: -.3px;
      color: #202124;
    }
    
    background-color: #fafafa;
    min-width: 250px;
    height: 0.8rem;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .input {
    width: 80%;
    & :focus {
      border: 1px solid #b2b2b2;
    }
  }
}
